/*Creamos custom properties*/
:root{
    --fondo:#1e2144;
    --barra:#5e67c9;
    --cuadros: #7F85C7;
    --letra:#e6e6e6;
    --card:#3E458E;
    --color_secundario: #abb1f1;
}
/* reiniciamos los estilos a todo el html */
*{
    margin: 0;
    padding: 0;
}
/*definimos estilos al body*/
body{
    background-color: var(--fondo);
    color: var(--letra);
    height: 200vh;
}
/*Header*/

.header{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px; /*El header no se alejara del top*/
    /* background-color: var(--barra); */
}
.header__div{
    margin: 0 auto;
    text-align: center;
}
.header__a{
    margin-top: 10px;
    color: var(--letra);
    text-decoration: none;
    display: inline-block;
    padding: 11px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--card);
    border-radius: 15px;
}
.header__a--hover:hover{
    background-color: var(--cuadros);
}
/* cards contenedora de ejercicios */
.ejercicios{
    background-color: var(--cuadros);
    border-radius: 15px;
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.titulos{
    color: var(--letra);
    font-size: 30px;
}
/* ejercicio 1 */
.card{
    height: 511px;
    width: 610px;
    background-color: var(--card);
    margin: 0 auto;
    margin-top: 80px;
    border: var(--fondo) solid 2px;
    border-radius: 5px;
}
.card__p{
    display: inline-block;
    height: 23px;
    width: 610px;
    color: var(--letra);
    font-size: 20px;
    background-color: var(--barra);
    border-bottom: var(--fondo) solid 2px;
}
.card__img{
    display: inline-block;
    height: 400px;
    width: 300px;
}
.card__h4{
    display: inline-block;
    height: 80px;
    width: 610px;
    border-top: var(--fondo) solid 2px;
    color: var(--letra);
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: lowercase;
    background-color: var(--barra);
}
/* ejercicio 2 */
.navegacion{
    width: 1000px;
    height: 40px;
    position: relative;
    top: 30px; 
    background-color: var(--barra);
}
.navegacion__div{
    padding: 11px;
    margin: 0 auto;
    text-align: center;
}
.navegacion__a{
    color: var(--letra);
    text-decoration: none;
    margin-left: 50px;
}
/* ejercicio 3 */
.formulario{
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--barra);
    width: 500px;
    border: 3px var(--fondo) solid;
    border-radius: 10px;
}
.formulario__div{
    height: 100px;
}
.formulario__div--first-child:first-child{
    height: 100px;
    padding-top: 25px;    
}
.formulario__item{
    color: white;
    font-size: 30px;
    padding-top: 0px;
}
.formulario__input{
    height: 30px;
    width: 200px;
    background-color: var(--color_secundario);
    border: var(--fondo) solid 2px;
    border-radius: 3px;
    text-align: center;
    color: black;
}
.formulario__input--placeholder::placeholder{
    color: black;
}
.formulario__button{
    height: 30px;
    width: 100px;
    background-color: var(--color_secundario);
    color: white;
    border: var(--fondo) solid 2px;
    border-radius: 3px;
}

.formulario__button--hover:hover{
    background-color: var(--fondo);
    cursor: pointer;
    border: var(--color_secundario) solid 2px;
    border-radius: 3px;
}
/* ejercicio 4 */
.checkbox{
    display: inline-block;
    width: 25px;
    height: 25px;
}   
.lista-tarea{
    margin-top: 20px;
}
.lista-tarea__li{
    list-style: none;
    font-size: 30px;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
    
}
.lista-tarea__li--has:has(input[type="checkbox"]:checked) {
    color: #1a1728;
    text-decoration: line-through; 
    opacity: 0.8; 
}
/* ejercicio 5 */
.galeria{
    width: 400px;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 350px;
    background-color: var(--barra);
    display: inline-block;
    border: var(--fondo) 2px solid;
    border-radius: 10px;
}
.galeria__p{
    font-size: 40px;
    background-color: var(--card);
    border-radius: 10px;
}
.galeria__img{
    width: 200px;
    height: 300px;
}
/* ejercicio 6 */
.alerta{
    display: none;
    width: 500px;
    height: 300px;
    background-color: var(--card);
    margin: 0 auto;
    margin-top: 200px;
}
.alerta__p{
    font-size: 80px;
    padding-top: 60px;
    display: block;
}
.alerta_h4{
    display: block;
    font-size: 60px;
    margin-top: 20px;
}
.boton-alerta__button{
    height: 50px;
    width: 200px;
    font-size: 40px;
    background-color: var(--color_secundario);
    color: white;
    border: var(--fondo) solid 2px;
    border-radius: 3px;
    text-decoration: none;
    display:inline-block;
    
}
.boton-alerta__button--hover:hover{
    background-color: var(--fondo);
    cursor: pointer;
    border: var(--color_secundario) solid 2px;
    border-radius: 3px;
}

.alerta:target{
    display: inline-block;
}
.alerta__button{
    height: 100px;
    width: 200px;
    font-size: 40px;
    margin-top: 200px;
    background-color: var(--color_secundario);
    color: white;
    border: var(--fondo) solid 2px;
    border-radius: 3px;
    text-decoration: none;
}
.alerta__button--hover:hover{
    background-color: var(--fondo);
    cursor: pointer;
    border: var(--color_secundario) solid 2px;
    border-radius: 3px;
}
/* ejercicio 7 */
.tabla-datos__header {
    background: var(--fondo); 
    color: var(--letra); 
    padding: 18px 0 18px 32px; 
    border-radius: 12px; 
    margin-bottom: 24px; 
}
.tabla-datos__principal {
    padding: 24px; 
    display: block; 
}
.tabla-datos__tabla {
    width: 800px; 
    height: 500px;
    margin: 0 auto; 
    margin-top: 80px;
    border-collapse: collapse; 
    background: var(--color_secundario); 
    border-radius: 10px; 
    color: var(--fondo);
}
.tabla-datos__header th {
    background: var(--fondo); 
    color: #fff; 
    padding: 14px 8px; 
    font-size: 20px; 
    border-bottom: 2px solid var(--fondo);
}
.tabla-datos__body td {
    padding: 12px 8px; 
    border: 1px solid var(--fondo); 
    text-align: center; 
    font-size: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* ejercicio 8 */
.footer { 
    width: 976px;
    border: 2px solid var(--fondo); 
    position: relative;
    top: 700px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    background-color: var(--barra); 
    text-align: center; 
}
.footer__copy { 
    margin-bottom: 10px; 
}
.footer__link { 
    display: inline-block; 
    color: var(--letra);
    text-decoration: none; 
    margin-left: 40px; 
}
/* ejercicio 9 */
/* ejercicio 10 */
/* ejercicio 11 */
/* ejercicio 12 */
/* ejercicio 13 */
/* ejercicio 14 */
/* ejercicio 15 */
